/* universal slector*/
*{
	font-family: 'Noto Serif', serif;
padding: 0;
margin:0;
outline: none;
}
.jumbotron form {
	text-align: center;
	display: block;
}
ul {
	text-align: center;
	vertical-align: middle;
	color: crimson;
	transition-delay: 6s;
	animation-direction: right;
}