body{
	text-align: center;
}
#heading{
	text-align: center;
	h1{
	text-align: center;
	color: tomato;
	font-size: 48px;
	font-style: italic;
	font-weight: 600;
}
 input, textarea, button{
 	display: block;
 	text-align: center;
 	vertical-align: top;
 }
}